.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: 1rem;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }
}
