.tableOfContents {
  overflow-y: auto;
  max-height: calc(100dvh - var(--ifm-navbar-height) - 40px);
  padding-top: 0;
  padding-bottom: 1rem;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }
}
