.tableOfContents {
  overflow-y: auto;
  position: sticky;
  top: 0;
  max-height: calc(100dvh - var(--ifm-navbar-height));
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }
}
